html, body {
    background-image: url('../images/background-image.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 200px;
    /* margin-top: auto;
    margin-bottom: auto; */
    width: 400px;
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.card-header h3 {
    color: white;
}